@font-face {
    font-family: 'pokemonFont';
    src: url("./fonts/Pokemon\ Classic.ttf");
}

body {
    font-family: 'pokemonFont';
    background-image: url("./images/battlescene.png");
    background-size: cover;
    justify-content: space-evenly;
    display: flex;
    height: 100vh;
}

#user-feedback {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33vw;
    height: 100vh;
}

#combat-log {
    border: 2px black solid;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.67);
    font-size: 12px
}

#combat-log>p {
    margin: 3px 3px;
}

#battle-area {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#divider {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 66%;

}

.team-lbl {
    width: 100%;
    margin: 3px;;
    border-radius: 5px;
    border: 2px solid;
    text-align: center;
    background-color: lavender;
}

.team-poke {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 15vw;
    max-width: 120px;
    max-height: 120px;
    margin: 2px;
}

.team-poke>img {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inactive {
    background-color: rgba(0,0,0,0);
}

.battle-btn {
    font-family: 'pokemonFont';
    max-height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    transition: transform .2s;
    margin-left: 15px;
}

.battle-btn:hover {
    transform: scale(1.1);
}