@font-face {
    font-family: 'pokemonFont';
    src: url("./fonts/Pokemon\ Classic.ttf");
}

body {
    background-image: url("./images/forest.png");
    background-size: cover;
    height:100vh;
    width: 100vw;
    font-family: 'pokemonFont';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#user-feedback {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0px 25px;
}

#select-menu {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    row-gap: 5px;
}

.poke-card {
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 250px;
    background-color: rgba(181, 213, 239, 0.75);
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
    transition: transform .2s;
}

.poke-card:hover {
    transform: scale(1.1);
    background-color: rgba(181, 213, 239, 0.90);;
  }

.poke-card>img {
    width: 85%;
    display: block;
    justify-content: center;
    max-width: 200px;
    max-height: 200px;;
}

.poke-card>p {
    margin: 0;
}

.type {
    border-radius: 5px;
    text-align: center;
}

#bottom-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 25px;
}

#player-team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 66%;
    background-color: rgba(181, 213, 239, 0.90);
    border: 3px solid black;
}

#your-team-lbl {
    width: 100%;
    margin: 3px;;
    border-radius: 5px;
    border: 2px solid;
    text-align: center;
    background-color: lavender;
}

.team-poke {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 15vw;
    height: 15vw;
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
}

.team-poke>img {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inactive {
    background-color: rgba(0,0,0,0);
}

.selectmenu-btn {
    font-family: 'pokemonFont';
    max-height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    transition: transform .2s;
}

.selectmenu-btn:hover {
    transform: scale(1.1);
}

#control-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 #control-btns>input {
    margin: 5px;
 }

#return2menu-btn {
    background-color: rgba(231, 94, 94, 0.716);
}

@media screen and (max-width: 600px) {
    body{
        justify-content: space-evenly;
        row-gap: 10px;
    }
    body > #user-feedback{
        justify-content: space-between;
        margin: 0 5px;
    }
    body > #player-team{
        align-items: center;
    }
    #user-feedback > h1{
        font-size: 12px; 
    }
    .selectmenu-btn{
        font-size: 6px; 
        padding: 2px;
    }
    #select-menu{
        justify-content: space-around;
    }
    .poke-card {
        font-size: 8px;
        max-width: 25%;
    }
    .poke-card>img {
        width: 100%;
    }
    .team-poke {
        font-size: 6px;
    }
    #player-team{
        width: 66%;
    }
    #your-team-lbl{
        font-size: 6px;
    }
}

@media screen and (max-width: 900px) and (min-width: 601px){
    #player-team {
        width:60%;
        max-width: 455px;
    }
    #user-feedback > h1{
        font-size: 20px; 
    }
}

@media screen and (max-width: 1200px) and (min-width: 901px){
    #player-team {
        width: 60%;
        max-width: 455px;
    }
    #user-feedback > h1{
        font-size: 20px; 
    }
}