@font-face {
    font-family: 'pokemonFont';
    src: url("./fonts/Pokemon\ Classic.ttf");
}

@media screen and (max-width: 450px) {
    .poke-card {
        width: 120px;
        font-size: 10px;
    }
    .poke-card>img {
        width: 50%;
    }
}

body {
    background-image: url("./images/forest.png");
    background-size: cover;
    height: 100vh;
    font-family: 'pokemonFont';
    display: flex;
    flex-direction: column;
}

#select-menu {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.poke-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: rgba(181, 213, 239, 0.75);;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid gold;
    transition: transform .2s;
}

.poke-card:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

.poke-card>img{
    width: 80%;
    max-width: 200px;
    max-height: 200px;;
}

.poke-card>p{
    margin: 0;
}

.type {
    border-radius: 5px;
    text-align: center;
}