@font-face {
    font-family: 'pokemonFont';
    src: url("./fonts/Pokemon\ Classic.ttf");
}

body {
    background-image: url("./images/forest.png");
    background-size: cover;
    height: 100vh;
    font-family: 'pokemonFont';
    display: flex;
    flex-direction: column;
}

#select-menu {
    display: flex;
    justify-content: space-evenly;
}

.poke-card {
    display: flex;
    flex-flow: column center;
}