@font-face {
    font-family: 'pokemonFont';
    src: url("./fonts/Pokemon\ Classic.ttf");
}

body {
    background-image: url("./images/forest.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'pokemonFont';
    text-align: center;
}

.day {
    background-image: url("./images/forest.png");
}

#logo {
    align-items: center;
    padding-right: 25px;
}

.startmenu-btn {
    font-family: 'pokemonFont';
    padding: 15px 0px;
    text-align: center;
    border-radius: 10px;
    width: 10vw;
}

#my-name {
    bottom: 0;
    right: 0;
    position: absolute;
}