@font-face {
    font-family: 'pokemonFont';
    src: url("./fonts/Pokemon\ Classic.ttf");
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    background-color: rgba(105, 90, 205, 0.727);
    font-family: 'pokemonFont';
}

h1, h3 {
    text-align: center;
}

input {
    font-family: 'pokemonFont';
}

#title-box {
    max-width: 95%;
}