body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    background-color: rgba(105, 90, 205, 0.727);
}

h1, h3 {
    text-align: center;
}