@font-face {
    font-family: 'pokemonFont';
    src: url("./fonts/Pokemon\ Classic.ttf");
}

body {
    background-image: url("./images/forest.png");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'pokemonFont';
    text-align: center;
}

#logo {git st
    align-items: center;
    padding-right: 25px;
}

.startmenu-btn {
    font-family: 'pokemonFont';
    padding: 10px 50px;
    text-align: center;
    border-radius: 10px;
}

#my-name {
    position: absolut;
    bottom: 0;
    color: rgb(88, 56, 4);
}